body {
  font-weight: 300;
}

p {
  margin-top: 2em;
  margin-bottom: 2em;
  line-height: 1.6em;
  font-size: 20px;
}

.splash
{
  min-height: 35em;
  padding-top: 8em;
  margin-bottom: 3em;
  /*background-image: url("/static/img/statues.jpg");
  background-size: cover;*/
  color: #fff;
  text-align: center;


	/*position: relative;*/
	background-color: #0a1855;
	background-image: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#0a1855),color-stop(100%,#da0024));
	background-image: -webkit-linear-gradient(45deg,#0a1855 0,#da0024 100%);
	background-image: -moz-linear-gradient(45deg,#0a1855 0,#da0024 100%);
	background-image: -ms-linear-gradient(45deg,#0a1855 0,#da0024 100%);
	background-image: -o-linear-gradient(45deg,#0a1855 0,#da0024 100%);
	background-image: linear-gradient(45deg,#0a1855 0,#da0024 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a1855', endColorstr='#da0024', GradientType=1);
}

.headline
{
	margin-top: 3em;
}

.splash h1
{
	font-size: 5em;
	font-weight: 500;
	/*text-shadow: 2px 1px 0 #666666, 9px 8px 0 rgba(0,0,0,0.15);*/
}

.navbar-default {
  position: absolute;
  /*background-color: transparent;*/
}

.navbar-default .navbar-brand {
  font-size: 20px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  font-weight: 400;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;
}

.btn {
  font-size: 20px;
}


/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
