body
{
	margin-top: 70px;
}

.well h3
{
	margin-top: 1px;
	margin-bottom: 1px;
}

.statable tr td:first-child
{
	text-align: right;
}

.statable td
{
	padding: 2px;
	vertical-align: top !important;
}

.panel2k
{
	min-height: 200px;
}

.panel24k
{
	min-height: 240px;
}

.panel42k
{
	min-height: 420px;
}

td
{
	vertical-align: middle !important;
}

.page-header
{
	margin-top: 0px !important;
}

.sub-header
{
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Table sorter stuff
 */
 
.tablesorter-header
{
	background-image: url('/adm/static/img/bg.gif');
	cursor: pointer; 
	font-weight: bold; 
	background-repeat: no-repeat; 
	background-position: center left;
	padding-left: 20px !important;
}
.tablesorter-headerAsc
{
	background-image: url('/adm/static/img/asc.gif');
}
.tablesorter-headerDesc
{
	background-image: url('/adm/static/img/desc.gif');
}

.tsdisable
{
	background-image: none;
}

tr.tsdisable td
{
	background-image: none;
}

/* clickable rows should have a mouse pointer */
.rowclick-tr
{
	cursor: pointer; 
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.jumbotron
{
	border-radius: 25px;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,.15);
	margin: 20px;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}	

.block-display-team
{
	height: 150px;
}

.block-display h2
{
	margin-top: 5px;
}

.block-display
{
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,.15);
	margin: 2px;
	margin-top: 30px;
	padding: 10px;
	height: 200px;
}

.block-display-repo
{
	height: 200px;
}

.item
{
padding: 15px;
float: left;
margin-left: 10px;
margin-right: 10px;
width: 180px;
margin-bottom: 20px;
min-height: 150px;
background-color: #f5f5f5;
border: 1px solid #e3e3e3;
border-radius: 10px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

#isotope
{
	margin-top: 20px;
	width: 100%;
}

.btn-text-left
{
	padding-right: 10px;
	padding-left: 5px;
	padding-top: 7px;
	min-width: 65px;
}

.bold-text
{
	font-weight: bold;
}

/* reduce whitespace on pages */
.form-group-static
{
	margin-bottom: 0px;
}

.form-control-static, .form-group-static label
{
	padding-top: 5px !important;
}
