{% extends "layout.html" %}
{% block body %}
<a href="https://github.com/divad/trackit"><img style="position: absolute; top: 0; left: 0; border: 0; z-index: 9999;" src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"></a>
<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
.jumbotron
{
  background-image: url("/static/img/colors3.jpg");
  background-size: cover;
  color: #FFFFFF;
    font-family: 'Lato', sans-serif;
  font-weight: 900;
	/*text-shadow: 2px 2px 0 #666666, 2px 2px 0 rgba(0,0,0,0.15);*/
text-shadow:0px 0px 10px #191919;
}
</style>
<div class="jumbotron text-center">
	<div style="margin-bottom: 50px">
		<h1><i class="fa fa-fw fa-cube"></i> <strong>Southampton Projects Forge</strong></h1>
		<h2>Version {{ config.VERSION }}</h2>
	</div>
	
	<p class="text-left">	
	Powered by <a href="https://github.com/divad/trackit">trackIT</a>, a repository management system.
	</p>
	
	<p class="text-left">
	Written by <a href="http://www.evad.io">David Bell</a> and Clayton Peters
	</p>
</div>
{% endblock %}
