{% extends "layout.html" %}
{% block body %}
<div class="jumbotron text-center">
	<div style="margin-bottom: 50px">
		<h1><i class="fa fa-fw fa-magic"></i> TracKit Repository Manager</h1>
		<h2>Version {{ config.VERSION }}</h2>
	</div>
	
	<p class="text-left">	
	A repository management system. Powered by <a href="http://www.python.org">Python</a>, 
	<a href="http://flask.pocoo.org/">Flask</a> and <a href="http://getbootstrap.com/">Bootstrap</a>.
	</p>
	
	<p class="text-left">
	Written by <a href="http://www.evad.io">David Bell</a>
	</p>
</div>
{% endblock %}
