{% extends "layout.html" %}
{% block body %}

<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
.admin-block
{
	min-height: 172px;
	padding-left: auto;
	padding-right: auto;
	border-radius: 6px;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,.15);
	margin: 20px;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f8f5f0;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

.admin-block h1 {
    font-size: 63px;
  }

.status-img
{
	margin-top: 20px;
	margin-bottom: 10px;
}
</style>

<div class="row">
	<div class="col-md-3">
		<div class="admin-block">
				{% if status %}
				<i class="fa fa-fw fa-thumbs-up fa-5x text-success status-img"></i>
				<h3>Status OK</h3>
				{% else %}
				<i class="fa fa-fw fa-exclamation-triangle fa-5x text-danger status-img"></i>
				<h3>System ERR</h3>
				{% endif %}
		</div>
	</div>
	<div class="col-md-3">
		<div class="admin-block">
			<h1><strong><a href="{{ url_for('repo_list_admin') }}">{{repo_count}}</a></strong></h1>
			<h2>Repositories</h2>
		</div>
	</div>
	<div class="col-md-3">
		<div class="admin-block">
			<h1><strong><a href="{{ url_for('team_list_admin') }}">{{team_count}}</a></strong></h1>
			<h2>Teams</h2>
		</div>
	</div>
	<div class="col-md-3">
		<div class="admin-block">
			<h2 style="line-height: 69px"><strong>{{ total_size|filesizeformat }}	</strong></h2>
			<h2>disk usage</h2>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="admin-block">
				{% if g.trackitd_running %}
				<i class="fa fa-fw fa-check fa-5x text-success status-img"></i>
				{% else %}
				<i class="fa fa-fw fa-exclamation-triangle fa-5x text-danger status-img"></i>
				{% endif %}
				<h3>trackitd</h3>
		</div>
	</div>
	<div class="col-md-3">
		<div class="admin-block">
				{% if g.httpd_status %}
				<i class="fa fa-fw fa-check fa-5x text-success status-img"></i>
				{% else %}
				<i class="fa fa-fw fa-exclamation-triangle fa-5x text-danger status-img"></i>
				{% endif %}
				<h3>httpd</h3>
		</div>
	</div>
	<div class="col-md-3">
		<div class="admin-block">
				{% if g.mysql_status %}
				<i class="fa fa-fw fa-check fa-5x text-success status-img"></i>
				{% else %}
				<i class="fa fa-fw fa-exclamation-triangle fa-5x text-danger status-img"></i>
				{% endif %}
				<h3>mysql</h3>
		</div>
	</div>
	<div class="col-md-3">
		<div class="admin-block">
				{% if g.redis_status %}
				<i class="fa fa-fw fa-check fa-5x text-success status-img"></i>
				{% else %}
				<i class="fa fa-fw fa-exclamation-triangle fa-5x text-danger status-img"></i>
				{% endif %}
				<h3>redis</h3>
		</div>
	</div>
</div>

{% if not status %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">I need attention!</h3>
  </div>
  <div class="panel-body">
	<p>trackitd has entered an error state and needs manual intervention to resolve one or more issues:</p>
	<pre>{{ errlog }}</pre>
	<p>Once you're done fixing the issues you can clear the error state by clicking the button below. This will clear the log and reset the error state.</p>
	<form action="{{ url_for('admin') }}" method="POST">
		<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
		<button class="btn btn-danger" type="submit">Reset error state</button>
	</form>
  </div>
</div>
{% endif %}

{% endblock %}
