<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Forge</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
		<!--<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css" rel="stylesheet">-->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>

			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
			<link href="{{ url_for('static', filename='respond.proxy.gif') }}" id="respond-redirect" rel="respond-redirect" />
			<link href="//netdna.bootstrapcdn.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
			<script src="{{ url_for('static', filename='js/respond.proxy.js') }}"></script>
		<![endif]-->

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
	</head>

	<body>
    <!--<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">Soton Forge</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a>a</a>
            </li>
            <li>
              <a>b</a>
            </li>
            <li>
              <a>c</a>
            </li>
            <li>
              <a>d</a>
            </li>
            <li>
              <a>e</a>
            </li>
          </ul>
        </div>
      </div>
    </div>-->

    <div class="splash">
      <div class="container">
        <div class="row">
          <div class="col-md-8 headline">
            <h1><i class="fa fa-fw fa-cube"></i> Soton Forge</h1>
            <p>Write software, maintain research data or manage projects.</p>
          </div>
          <div class="col-md-4">
			<h2>Sign In</h2>

				{% for category, message in get_flashed_messages(with_categories=true) %}
				<div class="alert {{ category }}">
					<a data-dismiss="alert" class="close" href="#">×</a>
					{{ message|safe }}
				</div>
				{% endfor %}

			<form class="form-signin text-left" action="{{ url_for('login') }}" method="POST">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<div class="form-group">
					<input name="username" type="text" class="form-control input-lg" placeholder="Username" autofocus>
				</div>
				<div class="form-group">
					<input name="password" type="password" class="form-control input-lg" placeholder="Password">
				</div>
				<div class="text-center">
					<button class="btn btn-primary" type="submit">Sign In</button>
				</div>
			</form>
          </div>
        </div>
      </div>
    </div>


   <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <i class="fa fa-fw fa-5x fa-code"></i>
          <h2>Version Control</h2>
          <p>Need to store your software or project somewhere? Need to store/track the changes you make? Soton Forge can help! You can choose from Apache Subversion, Git or Mercurial to store your files in. </p>
          <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <i class="fa fa-fw fa-5x fa-code-fork"></i>
          <h2>Self Provisioning</h2>
			<p>Create and manage teams of people, and within the teams, create as many repositories as you need. Each repository can have individual permissions and different revision control and web management tools</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <i class="fa fa-fw fa-5x fa-bug"></i>
          <h2>Project Management</h2>
			<p>Use either Trac or Redmine to manage your project. Both tools optionally integrate with Subversion, Git and Mercurial. The tools offer features such as bug/ticket tracking, a wiki, milestones and other features</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">Manage your project <span class="text-muted">with Trac.</span></h2>
				<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
				<p class="lead">
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-responsive" src="{{ url_for('static', filename='img/trac.png') }}" alt="Generic placeholder image">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
		<div class="col-md-5">
		<img class="featurette-image img-responsive" src="{{ url_for('static', filename='img/redmine.png') }}" alt="Generic placeholder image">
		</div>
		<div class="col-md-7">
		<h2 class="featurette-heading">...Or manage your project <span class="text-muted">with Redmine!</span></h2>
		<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
		<div class="col-md-7">
		<h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
		<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5">
		<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
		</div>
		</div>

		<hr class="featurette-divider">
	</body>
</html>
