{% extends "layout.html" %}
{% block body %}

<div class="page-header">
  <h1>
<span class="fa-stack">
  <i class="fa fa-square fa-stack-2x"></i>
  <i class="fa fa-code fa-stack-1x fa-inverse"></i>
</span>Repositories</h1>
</div>

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/380cb78f450/integration/bootstrap/3/dataTables.bootstrap.css">
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/380cb78f450/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script type="text/javascript" charset="utf-8">
jQuery.fn.dataTable.ext.type.order['file-size-pre'] = function ( data ) {
    var units = data.replace( /[\d\.]/g, '' ).toLowerCase();
    var multiplier = 1;
 
    if ( units === 'kb' ) {
        multiplier = 1000;
    }
    else if ( units === 'mb' ) {
        multiplier = 1000000;
    }
    else if ( units === 'gb' ) {
        multiplier = 1000000000;
    }
 
    return parseFloat( data ) * multiplier;
};

$(document).ready(function() {
	$('#dtable').dataTable(
{
columnDefs: [
       { type: 'file-size', targets: 6 }
     ]
}

);
} );
</script>

<div class="row">
	<table id="dtable" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>VCS</th>
				<th>Web</th>
				<th>State</th>
				<th>Visbility</th>
				<th>Size on disk</th>
			</tr>
		</thead>
		<tbody>

		{% for repo in repos %}
			<tr data-url="{{repo.link}}" class="rowclick-tr">
				<td class="rowclick-td">{{repo.name}}</td>
				<td class="rowclick-td">{{repo.desc|truncate(30)}}</td>
				<td class="rowclick-td">
				{% if repo.src_type == 'git' %}
					Git
				{% elif repo.src_type == 'svn' %}
					Subversion
				{% elif repo.src_type == 'hg' %}
					Mercurial
				{% elif repo.src_type == 'none' %}
					No VCS
				{% endif %}
				</td>
				<td class="rowclick-td">
				{% if repo.web_type == 'trac' %}
					Trac
				{% elif repo.web_type == 'redmine' %}
					Redmine
				{% elif repo.web_type == 'none' %}
					None
				{% endif %}
				</td>
				<td class="rowclick-td">{{repo.status}}</td>
				<td class="rowclick-td">{{repo.visibility}}</td>
				<td class="rowclick-td">{{repo.total_size|filesizeformat}}</td>
			</tr>	
		{% endfor %}

		</tbody>
	</table>

</div>
{% endblock %}
