{% extends "layout.html" %}
{% block body %}

<div class="page-header">
	<h1><span class="fa-stack">
  <i class="fa fa-square fa-stack-2x"></i>
  <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
</span> {{repo.name}}</h1>
	<p><strong>Project Description:</strong> {{repo.desc}}</p>
</div>


<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Project Information</div>
			<div class="panel-body">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-sm-4 control-label bold-text">Status</label>
					<div class="col-sm-8">
						<p class="form-control-static">{{ repo.status }}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label bold-text">Source Control</label>
					<div class="col-sm-8">
						<p class="form-control-static">
				{% if repo.src_type == 'git' %}
					<span class="label label-primary">GIT</span>
				{% endif %}
				{% if repo.src_type == 'svn' %}
					<span class="label label-primary">SVN</span>
				{% endif %}
				{% if repo.src_type == 'hg' %}
					<span class="label label-primary">HG</span>
				{% endif %}
				{% if repo.src_type == 'none' %}
					<span class="label label-default">None</span>
				{% endif %}
					</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label bold-text">Project Management</label>
					<div class="col-sm-8">
						<p class="form-control-static">
				{% if repo.web_type == 'trac' %}
					<span class="label label-info">Trac</span>
				{% endif %}
				{% if repo.web_type == 'redmine' %}
					<span class="label label-info">Redmine</span>
				{% endif %}
				{% if repo.web_type == 'none' %}
					<span class="label label-default">None</span>
				{% endif %}
						</p>
					</div>
				</div>
				</div>
			</form>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Service Links</div>
			<div class="panel-body">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-sm-3 control-label bold-text">SVN</label>
					<div class="col-sm-9">
						<p class="form-control-static"><a href="https://svn.soton.ac.uk/{{repo.name}}">https://svn.soton.ac.uk/{{repo.name}}</a></p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label bold-text">SVN+SSH</label>
					<div class="col-sm-9">
						<p class="form-control-static">ssh+svn://svn.soton.ac.uk/{{repo.name}}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label bold-text">Trac</label>
					<div class="col-sm-9">
						<p class="form-control-static"><a href="https://trac.soton.ac.uk/{{repo.name}}/">https://trac.soton.ac.uk/{{repo.name}}</a></p>
					</div>
				</div>			
			</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
