{% extends "layout.html" %}
{% block body %}

<div class="page-header">
  <div class="pull-right">
  	<a href="{{ url_for('repo_create') }}" class="btn btn-info" rel="tooltip" data-toggle="tooltip" data-placement="left" title="Create new repository"><i class="fa fa-fw fa-plus"></i><span class="hidden-xs"> Create repository</span></a>
  </div>
  <h1>
<span class="fa-stack">
  <i class="fa fa-square fa-stack-2x"></i>
  <i class="fa fa-code-fork fa-stack-1x fa-inverse"></i>
</span>{{title}}</h1>
</div>

<div class="row">

{% if repos|length == 0 %}
		<h3>No projects found</h3>
{% else %}
	{% for repo in repos %}
		<div class="col-md-3 qq">
			<div class="well block-display">
				<h2><a href="{{ repo.link }}">{{ repo.name }}</a></h2>
				<p>{{ repo.desc|truncate(160) }}</p>
				<p>Status: {{ repo.status }}</p>
			</div>
		</div>
	{% endfor %}
{%endif%}
</div>

{% if pages %}
<div class="text-center">
	<ul class="pagination">
		{% for num in range(1,number_of_pages + 1) %}
		<li{% if num == page %} class="active"{%endif%}><a href="{{ url_for(function,page=num)}}">{{ num }}</a></li>
		{% endfor %}
	</ul>
</div>
{% endif%}

{% endblock %}
