{% extends "layout.html" %}
{% block body %}

{% include "loading.html" %}

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/380cb78f450/integration/bootstrap/3/dataTables.bootstrap.css">
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/380cb78f450/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<div class="page-header">
	{% if repo_admin %}
		{% if repo.state > 0 %}
			<div class="pull-right">
			{% if global_admin %}
				{% if repo.state == 1 %}
					<a href="" data-toggle="modal" data-target="#suspend" class="btn btn-warning" rel="tooltip" data-toggle="tooltip" data-placement="left" title="Suspend"><i class="fa fa-fw fa-pause"></i><span class="hidden-xs"> Suspend</span></a>		
				{% elif repo.state == 2 %}
					<a href="" data-toggle="modal" data-target="#enable" class="btn btn-success" rel="tooltip" data-toggle="tooltip" data-placement="left" title="Enable"><i class="fa fa-fw fa-play"></i><span class="hidden-xs"> Enable</span></a>		
				{% endif %}
			{% endif %}
			<a href="" data-toggle="modal" data-target="#settings" class="btn btn-info" rel="tooltip" data-toggle="tooltip" data-placement="left" title="Edit repository settings"><i class="fa fa-fw fa-cog"></i><span class="hidden-xs"> Settings</span></a>		
			{% if repo.web_type == 'none' %}
				<a href="" data-toggle="modal" data-target="#addweb" class="btn btn-primary" rel="tooltip" data-toggle="tooltip" data-placement="left" title="Enable Trac"><i class="fa fa-fw fa-bug"></i><span class="hidden-xs"> Enable Trac</span></a>		
			{% endif %}
			<a href="" data-toggle="modal" data-target="#delete" class="btn btn-danger" rel="tooltip" data-toggle="tooltip" data-placement="left" title="Delete repository"><i class="fa fa-fw fa-trash-o"></i><span class="hidden-xs"> Delete</span></a>		
			</div>
		{% else %}
			<div class="alert alert-danger pull-right" role="alert"><i class="fa fa-fw fa-spin fa-cog"></i> This repository has not yet been created</div>
		{% endif %}
	{% endif %}
	<h1><span class="fa-stack">
  <i class="fa fa-square fa-stack-2x"></i>
  <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
</span> {{repo.name}}</h1>
	<p><strong>Description:</strong> {{repo.desc}}</p>
</div>

{% if repo_admin %}
<div class="modal fade" id="settings">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Repository Settings</h4>
			</div>
			<form class="form-horizontal" role="form" method="POST" onsubmit="return onFormSubmit();">
				<div class="modal-body">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
					<input type="hidden" name="action" value="settings"/>

					<div class="form-group" id="form_group_desc">
						<label for="inputDescription" class="col-lg-3 control-label">Description</label>
						<div class="col-lg-9">
							<input type="text" class="form-control" id="inputDescription" name="repo_desc" {% if repo.desc %}value="{{ repo.desc }}" {% endif %}>
						</div>
					</div>
					
					<div class="form-group">
						<label for="input_security" class="col-lg-3 control-label">Visibility</label>
						<div class="col-lg-9">							
							<select name="repo_security" class="form-control" id="input_security">
								<option value="0"{% if repo.security == 0 %} selected="selected"{% endif %}>Private - Only visible to project members</option>
								<option value="1"{% if repo.security == 1 %} selected="selected"{% endif %}>University - Visible to all university members</option>
								<option value="2"{% if repo.security == 2 %} selected="selected"{% endif %}>Public - Visible to anybody on the internet</option>
							</select>

							<span class="help-block">Who can see the project details on forge.{{config.DNS_DOMAIN}}
							</span>
						</div>
					</div>
					
					{% if repo.web_type == 'trac' %}
					<div class="form-group">
						<label for="input_web_security" class="col-lg-3 control-label">Trac Security</label>
						<div class="col-lg-9">							
							<select name="repo_web_security" class="form-control" id="input_security">
								<option value="0"{% if repo.web_security == 0 %} selected="selected"{% endif %}>Private - Users must have authenticated to access Trac</option>
								<option value="1"{% if repo.web_security == 1 %} selected="selected"{% endif %}>Public - Users must only authenticate to make changes to Trac</option>
							</select>

							<span class="help-block">Do you need to logon to access the read-only parts of Trac?
							</span>
						</div>
					</div>
					{% endif %}
					
				{% if repo.src_type == 'svn' %}
					
					<div class="form-group">
						<label for="input_admin" class="col-lg-3 control-label">Notify E-Mail</label>
						<div class="col-lg-9">
							<input type="text" class="form-control" id="inputNotify" name="src_notify_email" {% if repo.src_notify_email %}value="{{ repo.src_notify_email }}" {% endif %}>
							<span class="help-block">When commits are made to the repository where should notification e-mails be sent
							</span>
						</div>
					</div>
					
					<div class="form-group">
						<label for="input_admin" class="col-lg-3 control-label">SVN Autoversion</label>
						<div class="col-lg-9">
							<select name="repo_autoversion" class="form-control">
								<option value="0"{% if repo.autoversion == 0 %} selected="selected"{% endif %}>Disabled</option>
								<option value="1"{% if repo.autoversion == 1 %} selected="selected"{% endif %}>Enabled</option>
							</select>
							<span class="help-block">Enable or disable <a href="http://svnbook.red-bean.com/en/1.6/svn.webdav.autoversioning.html">automatic revision control</a> when using a standard WebDAV client
							</span>
							
						</div>
					</div>
					
				{% endif %}
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% if repo.web_type == 'none' %}
<div class="modal fade" id="addweb">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Enable Trac</h4>
			</div>
			<form class="form-horizontal" role="form" method="POST" onsubmit="return onFormSubmit();">
				<div class="modal-body">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
					<input type="hidden" name="action" value="addweb"/>

					<p>At present this repository does not have a Trac instance. Would you like to add one?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Enable Trac</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endif %}

{% if repo.state == 1 %}
<div class="modal fade" id="suspend">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Suspend repository</h4>
			</div>
			<form class="form-horizontal" role="form" method="POST" onsubmit="return onFormSubmit();">
				<div class="modal-body">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
					<input type="hidden" name="action" value="suspend"/>

					<p>Are you sure you want to suspend this repository?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Suspend</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endif %}

{% if repo.state == 2 %}
<div class="modal fade" id="enable">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Enable repository</h4>
			</div>
			<form class="form-horizontal" role="form" method="POST" onsubmit="return onFormSubmit();">
				<div class="modal-body">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
					<input type="hidden" name="action" value="enable"/>

					<p>Are you sure you want to enable this repository?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Enable</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endif %}

<div class="modal fade" id="delete">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Delete repository</h4>
			</div>
			<form class="form-horizontal" role="form" method="POST" onsubmit="return onFormSubmit();">
				<div class="modal-body">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
					<input type="hidden" name="action" value="delete"/>

					<p>Are you sure you want to delete this repository? All data will be lost!</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">No, wait! Cancel!</button>
					<button type="submit" class="btn btn-primary">Yes, proceed!</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
function selectSourceType(sourceType)
{
	if (sourceType == 'internal')
	{
		$('#name-label').text('Username');
		$('#add-title').text('Add account permission');
		$('#ad-alert').addClass('hidden');
		$('#team-alert').addClass('hidden');
		$('#admin-group').removeClass('hidden');
		$('#src-control-select').removeClass('hidden');
		$('#team-browse-btn').addClass('hidden');
		$('#name-size').removeClass('col-lg-6');
		$('#name-size').addClass('col-lg-8');
	}
	else if (sourceType == 'team')
	{
		$('#name-label').text('Team Name');
		$('#add-title').text('Add team permission');
		$('#ad-alert').addClass('hidden');
		$('#team-alert').removeClass('hidden');
		$('#admin-group').removeClass('hidden');
		$('#src-control-select').removeClass('hidden');

		$('#team-browse-btn').removeClass('hidden');
		$('#name-size').addClass('col-lg-6');
		$('#name-size').removeClass('col-lg-8');
	}
	else if (sourceType == 'adgroup')
	{
		$('#name-label').text('AD Group Name');
		$('#add-title').text('Add AD group permission');
		$('#ad-alert').removeClass('hidden');
		$('#team-alert').addClass('hidden');
		$('#admin-group').addClass('hidden');
		$('#src-control-select').addClass('hidden');
		$('#team-browse-btn').addClass('hidden');
		
		$('#name-size').removeClass('col-lg-6');
		$('#name-size').addClass('col-lg-8');
	}
		
	$('#source-name').val(sourceType);
	$('#addperm').modal('hide'); 
	$('#addpermform').modal('show');
}

function goBack()
{
	$('#addpermform').modal('hide');
	$('#addperm').modal('show'); 
}

function teamBrowse()
{
	$('#addpermform').modal('hide'); 
	$('#teambrowse').modal('show');
}

function selectTeam(name)
{
	$('#teambrowse').modal('hide');
	$('#inputName').val(name);
	$('#addpermform').modal('show');
	$("#inputName").trigger("input");
}
function cancelTeamBrowse()
{
	$('#addpermform').modal('hide');
	$('#teambrowse').modal('show');
}
</script>

<div class="modal" id="teambrowse">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Select a team</h4>
			</div>
			<div class="modal-body" stlye="min-height: 200px">

{% if teams|length > 0 %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$('#dtable').dataTable();
} );
</script>
{% endif %}

	<table id="dtable" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Name</th><th>Description</th><th></th>
			</tr>
		</thead>
		<tbody>
	{% if teams|length == 0 %}
			<tr><td colspan="3">No teams found</td></tr>
	{% else %}
		{% for team in teams %}
			<tr>
				<td>{{team.name}}</td>
				<td>{{team.desc|truncate(30)}}</td>
				<td><button class="btn btn-xs btn-primary" onclick="return selectTeam('{{team.name}}')">Select Team</button>
			</tr>	
		{% endfor %}
	{%endif%}
		</tbody>
	</table>


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" onclick="return cancelTeamBrowse()">Cancel</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="addperm">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Add Permission</h4>
			</div>
			<div class="modal-body" stlye="min-height: 200px">
				<button type="button" class="btn btn-primary btn-lg btn-block" onclick="selectSourceType('internal')">University account</button>
				<br/>
				<button type="button" class="btn btn-primary btn-lg btn-block" onclick="selectSourceType('team')">Forge Team</button>
				<br/>
				<button type="button" class="btn btn-primary btn-lg btn-block" onclick="selectSourceType('adgroup')">Active Directory Group</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="addpermform">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form class="form-horizontal" role="form" method="POST" onsubmit="return onFormSubmit();">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="add-title">Add Permission</h4>
				</div>
				<div class="modal-body" stlye="min-height: 200px">
				
					<div class="alert alert-danger hidden" role="alert" id="ad-alert"><strong>Warning!</strong> Granting permissions to active directory groups is <u>not recommended</u>. Source code access (Subversion/Git/Mercurial) cannot be granted to such groups. Admin rights cannot be granted to such groups. Nested active directory groups are not (yet) supported.</div>

					
					<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
					<input type="hidden" name="action" value="addperm"/>
					<input type="hidden" name="source" value="internal" id="source-name"/>

					<div class="form-group has-feedback" id="form_group_name">
						<label for="inputName" class="col-lg-3 control-label" id="name-label">Name</label>
						<div class="col-lg-7" id="name-size">
							<input id="inputName" type="text" class="form-control" name="name" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-trigger="manual">
							<span id="form_feedback_name" class="glyphicon form-control-feedback"></span>
						</div>
						<div class="col-lg-2" id="team-browse-btn">
						<button type="button" class="btn btn-info" onclick="return teamBrowse()">Browse...</button>
						</div>
					</div>
					
					<div class="form-group" id="src-control-select">
						<label class="col-lg-3 control-label">Source Control</label>
						<div class="col-lg-8">							
							<select name="src" class="form-control">
								<option value="0">No access</option>
								<option value="1">Read only</option>
								<option value="2" selected="selected">Read/Write</option>
							</select>

							<span class="help-block">What permission should this user be granted over the source control repository?
							</span>
						</div>
					</div>

					<div class="form-group" id="web-control-select">
						<label class="col-lg-3 control-label">Access to Trac</label>
						<div class="col-lg-9">							
							<select name="web" class="form-control" id="add_perm_web">
								<option value="0" id="add_perm_web_0">No access</option>
								<option value="1" id="add_perm_web_1" selected="selected">Access to Trac</option>
							</select>

							<span class="help-block">Should this user be granted access to the Trac web interface?
							</span>
						</div>
					</div>
					
					<div class="form-group" id="admin-group">
						<div class="col-lg-offset-3 col-lg-9">						
							<label>
							  <input name="admin" type="checkbox" value="1"></input> Repository Manager
							</label>
							<span class="help-block">Grant manager rights? This grants the ability to manage repository settings & permissions and they will receive Trac admin rights.
							<span class="hidden" id="team-alert"><br/><span class="label label-warning"><strong>Please note!</strong></span> Teams granted manager rights do not have admin rights within Trac</span>

							</span>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning" onclick="goBack()">Back</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Add</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	var checkTimer = undefined;
	$('#inputName').bind('input', function()
	{
		if (checkTimer)
		{
			clearTimeout(checkTimer);
		}
		checkTimer = setTimeout(function() {
		
			if ($('#source-name').val() == 'team')
			{
				$.post('/teams/check', { _csrf_token: "{{ csrf_token() }}", team_name: $('#inputName').val() }, function(data, textStatus, jqXHR)
				{
					if (data.result == 'exists')
					{
						$('#form_group_name').addClass('has-success')
						$('#form_group_name').removeClass('has-error')
						$('#form_feedback_name').removeClass('hidden glyphicon-remove')
						$('#form_feedback_name').addClass('glyphicon-ok')
						$('#inputName').popover('hide')
					}
					else
					{
						$('#form_group_name').addClass('has-error')
						$('#form_group_name').removeClass('has-success')
						$('#form_feedback_name').removeClass('hidden glyphicon-ok')
						$('#form_feedback_name').addClass('glyphicon-remove')
						if (data.result == 'valid')
						{
							$('#inputName').attr('data-content', 'That team does not exist')
						}
						else if (data.result == 'invalid')
						{
							$('#inputName').attr('data-content', 'That is an invalid team name')
						}
						$('#inputName').popover()
						$('#inputName').popover('show')
					}
				});
			}

			else if ($('#source-name').val() == 'internal')
			{
			
				$.post('/user/check', { _csrf_token: "{{ csrf_token() }}", username: $('#inputName').val() }, function(data, textStatus, jqXHR)
				{
					if (data.result != 'exists')
					{
						$('#form_group_name').addClass('has-error')
						$('#form_group_name').removeClass('has-success')
						$('#form_feedback_name').removeClass('hidden glyphicon-ok')
						$('#form_feedback_name').addClass('glyphicon-remove')
						$('#inputName').attr('data-content', 'That user does not exist')
						$('#inputName').popover()
						$('#inputName').popover('show')
					}
					else
					{
						$('#form_group_name').addClass('has-success')
						$('#form_group_name').removeClass('has-error')
						$('#form_feedback_name').removeClass('hidden glyphicon-remove')
						$('#form_feedback_name').addClass('glyphicon-ok')	
						$('#inputName').popover('hide')
						
					}
				});
				
			}
			
		}, 400);
	});
</script>

<div class="modal" id="edit_perm">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form class="form-horizontal" role="form" method="POST" onsubmit="return onFormSubmit();">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="add-title">Edit Permission Rule</h4>
				</div>
				<div class="modal-body" stlye="min-height: 200px">
				
					<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
					<input type="hidden" name="action" value="editperm"/>
					<input type="hidden" name="rid" value="" id="edit_perm_rid"/>

					<div class="form-group" id="form_group_name">
						<label for="inputName" class="col-lg-3 control-label" id="name-label">Name</label>
						<div class="col-lg-9">
							<p class="form-control-static" id="edit_perm_name"></p>
						</div>
					</div>
					
					<div class="form-group" id="src_control_select_edit">
						<label class="col-lg-3 control-label">Source Control</label>
						<div class="col-lg-9">							
							<select name="src" class="form-control" id="edit_perm_src">
								<option value="0" id="edit_perm_src_0">No access</option>
								<option value="1" id="edit_perm_src_1">Read only</option>
								<option value="2" id="edit_perm_src_2">Read/Write</option>
							</select>

							<span class="help-block">What permission should this user be granted over the source control repository?
							</span>
						</div>
					</div>

					<div class="form-group" id="web_select_edit">
						<label class="col-lg-3 control-label">Access to Trac</label>
						<div class="col-lg-9">							
							<select name="web" class="form-control" id="edit_perm_web">
								<option value="0" id="edit_perm_web_0">No access</option>
								<option value="1" id="edit_perm_web_1">Access to Trac</option>
							</select>

							<span class="help-block">Should this user be granted access to the Trac web interface?
							</span>
						</div>
					</div>
					
					<div class="form-group" id="admin_group_edit">
						<div class="col-lg-offset-3 col-lg-9">						
							<label>
							  <input name="admin" id="edit_perm_admin" type="checkbox" value="1"></input> Repository Manager
							</label>
							<span class="help-block">Grant manager rights? This grants the ability to manage repository settings & permissions and they will receive Trac admin rights.
							</span>
						</div>
					</div>
				</div>
				<div class="modal-footer">					
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<input type="submit" name="submit" value="Remove rule" class="btn btn-danger"/>
					<input type="submit" name="submit" value="Save" class="btn btn-primary"/>
				</div>
			</form>
		</div>
	</div>
</div>

{% endif %}


<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Repository Information</div>
			<div class="panel-body">
			<form class="form-horizontal" role="form">
				<div class="form-group form-group-static">
					<label class="col-sm-4 control-label bold-text">Status</label>
					<div class="col-sm-8">
						<p class="form-control-static">{{ repo.status }}</p>
					</div>
				</div>
				<div class="form-group form-group-static">
					<label class="col-sm-4 control-label bold-text">Source Control</label>
					<div class="col-sm-8">
						<p class="form-control-static">
				{% if repo.src_type == 'git' %}
					<span class="label label-primary">Git</span>
				{% elif repo.src_type == 'svn' %}
					<span class="label label-primary">Subversion</span>
				{% elif repo.src_type == 'hg' %}
					<span class="label label-primary">Mercurial</span>
				{% elif repo.src_type == 'none' %}
					<span class="label label-default">N/A</span>
				{% endif %}
					</p>
					</div>
				</div>
				<div class="form-group form-group-static">
					<label class="col-sm-4 control-label bold-text">Project Management</label>
					<div class="col-sm-8">
						<p class="form-control-static">
				{% if repo.web_type == 'trac' %}
					<span class="label label-info">Trac</span>
				{% elif repo.web_type == 'redmine' %}
					<span class="label label-info">Redmine</span>
				{% elif repo.web_type == 'none' %}
					<span class="label label-default">None</span>
				{% endif %}
						</p>
					</div>
				</div>
				<div class="form-group form-group-static">
					<label class="col-sm-4 control-label bold-text">Visibility</label>
					<div class="col-sm-8">
						<p class="form-control-static">{{repo.visibility}}</p>
					</div>
				</div>
				<div class="form-group form-group-static">
					<label class="col-sm-4 control-label bold-text">Trac Security</label>
					<div class="col-sm-8">
						<p class="form-control-static">
						{% if repo.web_type == 'none' %}
							<span class="label label-default">N/A</span>
						{% else %}
						{{repo.web_security_str}}
						{% endif %}
						</p>
					</div>
				</div>
				<div class="form-group form-group-static">
					<label class="col-sm-4 control-label bold-text">Size on disk</label>
					<div class="col-sm-8">
						<p class="form-control-static">{{ repo.total_size|filesizeformat }}</p>
					</div>
				</div>
			</form>
		</div>
	</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Service Links</div>
			<div class="panel-body">
				<form class="form-horizontal" role="form">
					{% if repo.src_type == 'svn' %}
					<div class="form-group form-group-static">
						<label class="col-sm-3 control-label bold-text">Subversion</label>
						<div class="col-sm-9">
							<p class="form-control-static"><a href="https://svn.{{config.DNS_DOMAIN}}/{{repo.name}}">https://svn.{{config.DNS_DOMAIN}}/{{repo.name}}</a></p>
						</div>
					</div>
					{% endif %}
					{% if repo.src_type == 'git' %}
					<div class="form-group form-group-static">
						<label class="col-sm-3 control-label bold-text">Git</label>
						<div class="col-sm-9">
							<p class="form-control-static"><a href="https://{{session.username}}@git.{{config.DNS_DOMAIN}}/{{repo.name}}">https://{{session.username}}@git.{{config.DNS_DOMAIN}}/{{repo.name}}</a></p>
						</div>
					</div>
					{% endif %}
					{% if repo.src_type == 'hg' %}
					<div class="form-group form-group-static">
						<label class="col-sm-3 control-label bold-text">Mercurial</label>
						<div class="col-sm-9">
							<p class="form-control-static"><a href="https://{{session.username}}@hg.{{config.DNS_DOMAIN}}/{{repo.name}}">https://{{session.username}}@hg.{{config.DNS_DOMAIN}}/{{repo.name}}</a></p>
						</div>
					</div>
					{% endif %}
					{% if repo.web_type == 'trac' %}
					<div class="form-group form-group-static">
						<label class="col-sm-3 control-label bold-text">Trac</label>
						<div class="col-sm-9">
							<p class="form-control-static"><a href="https://trac.{{config.DNS_DOMAIN}}/{{repo.name}}/">https://trac.{{config.DNS_DOMAIN}}/{{repo.name}}</a></p>
						</div>
					</div>
					{% endif %}
					{% if repo.src_type == 'svn' %}
					<div class="form-group form-group-static">
						<label class="col-sm-3 control-label bold-text">SVN Hooks</label>
						<div class="col-sm-9">
							<p class="form-control-static"><a href="smb://svn.{{config.DNS_DOMAIN}}/{{repo.name}}">smb://svn.{{config.DNS_DOMAIN}}/{{repo.name}}</a> <i class="fa fa-fw fa-linux"></i> <i class="fa fa-fw fa-apple"></i></p>
						</div>
					</div>
					<div class="form-group form-group-static">
						<label class="col-sm-3 control-label bold-text">&nbsp;</label>
						<div class="col-sm-9">
							<p class="form-control-static"><a href="file://svn.{{config.DNS_DOMAIN}}/{{repo.name}}">\\svn.{{config.DNS_DOMAIN}}\{{repo.name}}</a> <i class="fa fa-fw fa-windows"></i></p>
						</div>
					</div>
					{% endif %}
				</form>
			</div>
		</div>
	</div>
</div>
	{% if repo_member %}
		<div class="panel panel-default">
			<div class="panel-heading">Repository Permission Rules
		{% if repo_admin %}
		{% if repo.state == 1 %}
		<div class="pull-right">
	  	<a href="" data-toggle="modal" data-target="#addperm" class="btn btn-success btn-xs" rel="tooltip" data-toggle="tooltip" data-placement="left" title="Add permission"><i class="fa fa-fw fa-plus"></i><span class="hidden-xs"> Add Permission</span></a>		
		</div>
		{% endif %}
		{% endif %}

			</div>
			<div class="panel-body">

		<table id="tsort" class="table table-hover table-striped">
			<thead>
				<tr>
					<th width="24%">Name</th>
					<th width="24%">Source Access</th>
					<th width="24%">Trac Access</th>
					<th width="24%">Manager</th>
					<th width="4%"></th>
				</tr>
			</thead>
			<tbody class="rowclick-table">
			
			{% for rule in perms %}
				<tr>
					<td>
						<span class="fa fa-fw {% if rule.source == 'internal'%}fa-user{%elif rule.source == 'team'%}fa-group{%elif rule.source == 'adgroup'%}fa-windows{%endif%}"></span> {{ rule.name }}
					</td>
					<td>
						{% if rule.src == 0 %}
							<i class="fa fa-check fa-remove fa-fw" rel="tooltip" data-toggle="tooltip" data-placement="left" title="No access"></i>
						{% elif rule.src == 1 %}
							<i class="fa fa-binoculars fa-fw" rel="tooltip" data-toggle="tooltip" data-placement="left" title="Read-only"></i>
						{% elif rule.src == 2 %}
							<i class="fa fa-check fa-edit fa-fw" rel="tooltip" data-toggle="tooltip" data-placement="left" title="Read/write"></i>
						{% endif %}
					</td>
					<td>
						{% if rule.web == 0 %}
							<i class="fa fa-check fa-remove fa-fw" rel="tooltip" data-toggle="tooltip" data-placement="left" title="No access to Trac"></i>
						{% elif rule.web == 1 %}
							<i class="fa fa-check fa-fw" rel="tooltip" data-toggle="tooltip" data-placement="left" title="Access to Trac"></i>
						{% endif %}
					</td>
					<td>
						{% if rule.admin == 0 %}
							<i class="fa fa-check fa-remove fa-fw" rel="tooltip" data-toggle="tooltip" data-placement="left" title="Normal User"></i>
						{% elif rule.admin == 1 %}
							<i class="fa fa-check fa-fw" rel="tooltip" data-toggle="tooltip" data-placement="left" title="Administrator"></i>
						{% endif %}
					</td>
					<td data-source="{{rule.source}}" data-src="{{rule.src}}" data-web="{{rule.web}}" data-admin="{{rule.admin}}" data-rid="{{rule.id}}" data-name="{{rule.name}}">
						{% if repo_admin %}<a href="#" class="click_edit_rule"><span class="fa fa-fw fa-gear"></span></a>{%endif%}
					</tr>
				</tr>
			{% else %}
			
				<tr>
					<td colspan="5">There are no permissions on this team yet.</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	{% endif %}
</div>
{% endblock %}
