{% extends "layout.html" %}
{% block body %}

<div class="page-header">
	{% if repo_admin %}
	{% if repo.state != 4 %}
	<div class="pull-right">
  	<a href="" data-toggle="modal" data-target="#settings" class="btn btn-info" rel="tooltip" data-toggle="tooltip" data-placement="left" title="Edit team settings"><i class="fa fa-fw fa-cog"></i><span class="hidden-xs"> Settings</span></a>		
  	<a href="" data-toggle="modal" data-target="#delete" class="btn btn-danger" rel="tooltip" data-toggle="tooltip" data-placement="left" title="Delete team"><i class="fa fa-fw fa-trash-o"></i><span class="hidden-xs"> Delete</span></a>		
	</div>
	{% else %}
	<div class="alert alert-danger pull-right" role="alert"><i class="fa fa-fw fa-spin fa-cog"></i> This repository is being deleted</div>
	{% endif %}
	{% endif %}
	<h1><span class="fa-stack">
  <i class="fa fa-square fa-stack-2x"></i>
  <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
</span> {{repo.name}}</h1>
	<p>{{repo.desc}}</p>
</div>

{% if repo_admin %}
<div class="modal fade" id="settings">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Repository Settings</h4>
			</div>
			<form class="form-horizontal" role="form" method="POST">
				<div class="modal-body">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
					<input type="hidden" name="action" value="settings"/>

					<div class="form-group" id="form_group_desc">
						<label for="inputDescription" class="col-lg-3 control-label">Description</label>
						<div class="col-lg-9">
							<input type="text" class="form-control" id="inputDescription" name="repo_desc" {% if repo.desc %}value="{{ repo.desc }}" {% endif %}>
						</div>
					</div>
					
					<div class="form-group">
						<label for="input_security" class="col-lg-3 control-label">Visibility</label>
						<div class="col-lg-9">							
							<select name="repo_security" class="form-control" id="input_security">
								<option value="0"{% if repo.security == 0 %} selected="selected"{% endif %}>Private - Only visible to project members</option>
								<option value="1"{% if repo.security == 1 %} selected="selected"{% endif %}>University - Visible to all university members</option>
								<option value="2"{% if repo.security == 2 %} selected="selected"{% endif %}>Public - Visible to anybody on the internet</option>
							</select>

							<span class="help-block">Who can see the project details on forge.soton.ac.uk
							</span>
						</div>
					</div>
					
					<div class="form-group">
						<label for="input_web_security" class="col-lg-3 control-label">Trac Security</label>
						<div class="col-lg-9">							
							<select name="repo_web_security" class="form-control" id="input_security">
								<option value="0"{% if repo.web_security == 0 %} selected="selected"{% endif %}>Private - Users must have authenticated to access Trac</option>
								<option value="1"{% if repo.web_security == 1 %} selected="selected"{% endif %}>Public - Users must only authenticate to make changes to Trac</option>
							</select>

							<span class="help-block">Do you need to logon to access the read-only parts of Trac?
							</span>
						</div>
					</div>
					
				{% if repo.src_type == 'svn' %}
					
					<div class="form-group">
						<label for="input_admin" class="col-lg-3 control-label">Notify E-Mail</label>
						<div class="col-lg-9">
							<input type="text" class="form-control" id="inputNotify" name="src_notify_email" {% if repo.src_notify_email %}value="{{ repo.src_notify_email }}" {% endif %}>
							<span class="help-block">When commits are made to the repository where should notification e-mails be sent
							</span>
						</div>
					</div>
					
					<div class="form-group">
						<label for="input_admin" class="col-lg-3 control-label">SVN Autoversion</label>
						<div class="col-lg-9">
							<select name="repo_autoversion" class="form-control">
								<option value="0"{% if repo.autoversion == 0 %} selected="selected"{% endif %}>Disabled</option>
								<option value="1"{% if repo.autoversion == 1 %} selected="selected"{% endif %}>Enabled</option>
							</select>
						</div>
					</div>
					
				{% endif %}
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="delete">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Delete repository</h4>
			</div>
			<form class="form-horizontal" role="form" method="POST">
				<div class="modal-body">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
					<input type="hidden" name="action" value="delete"/>

					<p>Are you sure you want to delete this repository? All data will be lost!</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">No, wait! Cancel!</button>
					<button type="submit" class="btn btn-primary">Yes, proceed!</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
function selectSourceType(sourceType)
{
	if (sourceType == 'internal')
	{
		$('#name-label').text('Username');
		$('#add-title').text('Add account permission');
		$('#ad-alert').addClass('hidden');
		$('#admin-group').removeClass('hidden');
		$('#src-control-select').removeClass('hidden');
	}
	else if (sourceType == 'team')
	{
		$('#name-label').text('Team');
		$('#add-title').text('Add team permission');
		$('#ad-alert').addClass('hidden');
		$('#admin-group').removeClass('hidden');
		$('#src-control-select').removeClass('hidden');
	}
	else if (sourceType == 'adgroup')
	{
		$('#name-label').text('AD Group');
		$('#add-title').text('Add AD group permission');
		$('#ad-alert').removeClass('hidden');
		$('#admin-group').addClass('hidden');
		$('#src-control-select').addClass('hidden');
		
	}
		
	$('#source-name').val(sourceType);
	$('#addperm').modal('hide'); 
	$('#addpermform').modal('show');
}

function goBack()
{
	$('#addpermform').modal('hide');
	$('#addperm').modal('show'); 
}
</script>

<div class="modal" id="addperm">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Add Permission</h4>
			</div>
			<div class="modal-body" stlye="min-height: 200px">
				<button type="button" class="btn btn-primary btn-lg btn-block" onclick="selectSourceType('internal')">University account</button>
				<br/>
				<button type="button" class="btn btn-primary btn-lg btn-block" onclick="selectSourceType('team')">Forge Team</button>
				<br/>
				<button type="button" class="btn btn-primary btn-lg btn-block" onclick="selectSourceType('adgroup')">Active Directory Group</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="addpermform">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form class="form-horizontal" role="form" method="POST">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="add-title">Add Permission</h4>
				</div>
				<div class="modal-body" stlye="min-height: 200px">
				
					<div class="alert alert-danger hidden" role="alert" id="ad-alert"><strong>Warning!</strong> Granting permissions to active directory groups is <u>not recommended</u>. Source code access (Subversion/Git/Mercurial) cannot be granted to such groups. Admin rights cannot be granted to such groups. Nested active directory groups are not (yet) supported.</div>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
					<input type="hidden" name="action" value="addperm"/>
					<input type="hidden" name="source" value="internal" id="source-name"/>

					<div class="form-group has-feedback" id="form_group_name">
						<label for="inputName" class="col-lg-3 control-label" id="name-label">Name</label>
						<div class="col-lg-9">
							<input id="inputName" type="text" class="form-control" name="name" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-trigger="manual">
							<span id="form_feedback_name" class="glyphicon form-control-feedback"></span>
						</div>
					</div>
					
					<div class="form-group" id="src-control-select">
						<label class="col-lg-3 control-label">Source Control</label>
						<div class="col-lg-9">							
							<select name="src" class="form-control">
								<option value="0">No access</option>
								<option value="1">Read only</option>
								<option value="2" selected="selected">Read/Write</option>
							</select>

							<span class="help-block">What permission should this user be granted over the source control repository?
							</span>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-lg-offset-3 col-lg-9">						
							<label>
							  <input name="web" type="checkbox" checked="checked" value="1"></input> Access to Trac
							</label>
							<span class="help-block">Should this user be granted access to the web interface?
							</span>
						</div>
						
					</div>
					
					<div class="form-group" id="admin-group">
						<div class="col-lg-offset-3 col-lg-9">						
							<label>
							  <input name="admin" type="checkbox" value="1"></input> Repository Administrator
							</label>
							<span class="help-block">Should this user be granted administrative rights over this repository?
							</span>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning" onclick="goBack()">Back</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Add</button>
					</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	var checkTimer = undefined;
	$('#inputName').bind('input', function()
	{
		if (checkTimer)
		{
			clearTimeout(checkTimer);
		}
		checkTimer = setTimeout(function() {
		
			if ($('#source-name').val() == 'team')
			{
				$.post('/teams/check', { _csrf_token: "{{ csrf_token() }}", team_name: $('#inputName').val() }, function(data, textStatus, jqXHR)
				{
					if (data.result == 'exists')
					{
						$('#form_group_name').addClass('has-success')
						$('#form_group_name').removeClass('has-error')
						$('#form_feedback_name').removeClass('hidden glyphicon-remove')
						$('#form_feedback_name').addClass('glyphicon-ok')
						$('#inputName').popover('hide')
					}
					else
					{
						$('#form_group_name').addClass('has-error')
						$('#form_group_name').removeClass('has-success')
						$('#form_feedback_name').removeClass('hidden glyphicon-ok')
						$('#form_feedback_name').addClass('glyphicon-remove')
						if (data.result == 'valid')
						{
							$('#inputName').attr('data-content', 'That team does not exist')
						}
						else if (data.result == 'invalid')
						{
							$('#inputName').attr('data-content', 'That is an invalid team name')
						}
						$('#inputName').popover()
						$('#inputName').popover('show')
					}
				});
			}

			else if ($('#source-name').val() == 'internal')
			{
			
				$.post('/user/check', { _csrf_token: "{{ csrf_token() }}", username: $('#inputName').val() }, function(data, textStatus, jqXHR)
				{
					if (data.result != 'exists')
					{
						$('#form_group_name').addClass('has-error')
						$('#form_group_name').removeClass('has-success')
						$('#form_feedback_name').removeClass('hidden glyphicon-ok')
						$('#form_feedback_name').addClass('glyphicon-remove')
						$('#inputName').attr('data-content', 'That user does not exist')
						$('#inputName').popover()
						$('#inputName').popover('show')
					}
					else
					{
						$('#form_group_name').addClass('has-success')
						$('#form_group_name').removeClass('has-error')
						$('#form_feedback_name').removeClass('hidden glyphicon-remove')
						$('#form_feedback_name').addClass('glyphicon-ok')	
						$('#inputName').popover('hide')
						
					}
				});
				
			}
			
		}, 400);
	});
</script>

<div class="modal" id="edit_perm">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form class="form-horizontal" role="form" method="POST">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="add-title">Edit Permission Rule</h4>
				</div>
				<div class="modal-body" stlye="min-height: 200px">
				
					<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
					<input type="hidden" name="action" value="editperm"/>
					<input type="hidden" name="rid" value="" id="edit_perm_rid"/>

					<div class="form-group" id="form_group_name">
						<label for="inputName" class="col-lg-3 control-label" id="name-label">Name</label>
						<div class="col-lg-9">
							<p class="form-control-static" id="edit_perm_name"></p>
						</div>
					</div>
					
					<div class="form-group" id="src_control_select_edit">
						<label class="col-lg-3 control-label">Source Control</label>
						<div class="col-lg-9">							
							<select name="src" class="form-control" id="edit_perm_src">
								<option value="0" id="edit_perm_src_0">No access</option>
								<option value="1" id="edit_perm_src_1">Read only</option>
								<option value="2" id="edit_perm_src_2">Read/Write</option>
							</select>

							<span class="help-block">What permission should this user be granted over the source control repository?
							</span>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-lg-offset-3 col-lg-9">						
							<label>
							  <input name="web" id="edit_perm_web" type="checkbox" checked="checked" value="1"></input> Access to Trac
							</label>
							<span class="help-block">Should this user be granted access to the web interface?
							</span>
						</div>
						
					</div>
					
					<div class="form-group" id="admin_group_edit">
						<div class="col-lg-offset-3 col-lg-9">						
							<label>
							  <input name="admin" id="edit_perm_admin" type="checkbox" value="1"></input> Repository Administrator
							</label>
							<span class="help-block">Should this user be granted administrative rights over this repository?
							</span>
						</div>
					</div>
				</div>
				<div class="modal-footer">					
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<input type="submit" name="submit" value="Remove" class="btn btn-danger"/>
					<input type="submit" name="submit" value="Save" class="btn btn-primary"/>
				</div>
			</form>
		</div>
	</div>
</div>

{% endif %}


<div class="row">
	<div class="col-md-6">
		<div class="well">
			<h3>About</h3>
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-sm-4 control-label bold-text">Status</label>
					<div class="col-sm-8">
						<p class="form-control-static">{{ repo.status }}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label bold-text">Team</label>
					<div class="col-sm-8">
						<p class="form-control-static">
						{% if team %}
						<a href="{{ team.link }}">{{ team.name }}</a>
						{% else %}
						Not part of a team
						{% endif %}
						</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label bold-text">Source Control</label>
					<div class="col-sm-8">
						<p class="form-control-static">
				{% if repo.src_type == 'git' %}
					<span class="label label-primary">GIT</span>
				{% endif %}
				{% if repo.src_type == 'svn' %}
					<span class="label label-primary">SVN</span>
				{% endif %}
				{% if repo.src_type == 'hg' %}
					<span class="label label-primary">HG</span>
				{% endif %}
				{% if repo.src_type == 'none' %}
					<span class="label label-default">N/A</span>
				{% endif %}
					</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label bold-text">Project Management</label>
					<div class="col-sm-8">
						<p class="form-control-static">
				{% if repo.web_type == 'trac' %}
					<span class="label label-info">Trac</span>
				{% endif %}
				{% if repo.web_type == 'redmine' %}
					<span class="label label-info">Redmine</span>
				{% endif %}
				{% if repo.web_type == 'none' %}
					<span class="label label-default">N/A</span>
				{% endif %}
						</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label bold-text">Visibility</label>
					<div class="col-sm-8">
						<p class="form-control-static">{{repo.visibility}}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label bold-text">Trac Security</label>
					<div class="col-sm-8">
						<p class="form-control-static">{{repo.web_security_str}}</p>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="col-md-6">
		<div class="well">
			<h3>Links</h3>
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-sm-4 control-label bold-text">SVN</label>
					<div class="col-sm-8">
						<p class="form-control-static"><a href="https://svn.soton.ac.uk/{{repo.name}}">https://svn.soton.ac.uk/{{repo.name}}</a></p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label bold-text">SVN+SSH</label>
					<div class="col-sm-8">
						<p class="form-control-static">ssh+svn://svn.soton.ac.uk/{{repo.name}}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label bold-text">Trac</label>
					<div class="col-sm-8">
						<p class="form-control-static"><a href="https://trac.soton.ac.uk/{{repo.name}}/">https://trac.soton.ac.uk/{{repo.name}}</a></p>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="row">
	{% if repo_member %}
	<div class="col-md-12">
		<div class="well">
		{% if repo_admin %}
		{% if repo.state != 4 %}
		<div class="pull-right">
	  	<a href="" data-toggle="modal" data-target="#addperm" class="btn btn-success" rel="tooltip" data-toggle="tooltip" data-placement="left" title="Add permission"><i class="fa fa-fw fa-plus"></i><span class="hidden-xs"> Add Permission</span></a>		
		</div>
		{% endif %}
		{% endif %}
		<h3>Permissions</h3>
		<table id="tsort" class="table table-hover table-striped">
			<thead>
				<tr>
					<th width="24%">Name</th>
					<th width="24%">Type</th>
					<th width="24%">Web</th>
					<th width="24%">Admin</th>
					<th width="4%"></th>
				</tr>
			</thead>
			<tbody class="rowclick-table">
			
			{% for rule in perms %}
				<tr>
					<td>
						<span class="fa fa-fw {% if rule.source == 'internal'%}fa-user{%elif rule.source == 'team'%}fa-group{%elif rule.source == 'adgroup'%}fa-windows{%endif%}"></span> {{ rule.name }}
					</td>
					<td>
						{% if rule.src == 0 %}
							<i class="fa fa-check fa-remove fa-fw"></i>
						{% elif rule.src == 1 %}
							<i class="fa fa-binoculars fa-fw"></i>
						{% elif rule.src == 2 %}
							<i class="fa fa-check fa-edit fa-fw"></i>
						{% endif %}
					</td>
					<td>
						{% if rule.web == 0 %}
							<i class="fa fa-check fa-remove fa-fw"></i>
						{% elif rule.web == 1 %}
							<i class="fa fa-check fa-fw"></i>
						{% endif %}
					</td>
					<td>
						{% if rule.admin == 0 %}
							<i class="fa fa-check fa-remove fa-fw"></i>
						{% elif rule.admin == 1 %}
							<i class="fa fa-check fa-fw"></i>
						{% endif %}
					</td>
					<td data-source="{{rule.source}}" data-src="{{rule.src}}" data-web="{{rule.web}}" data-admin="{{rule.admin}}" data-rid="{{rule.id}}" data-name="{{rule.name}}">
						{% if repo_admin %}<a href="#" class="click_edit_rule"><span class="fa fa-fw fa-gear"></span></a>{%endif%}
					</tr>
				</tr>
			{% else %}
			
				<tr>
					<td colspan="5">There are no permissions on this team yet.</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}
