<div class="row">

{% if teams|length == 0 %}
		<h3>There are no teams to display.</h3>
{% else %}
	{% for team in teams %}
		<div class="col-md-3">
			<div class="well block-display">
				<h2><a href="{{ team.link }}">{{team.name}}</a></h2>
				<p>{{ team.desc|truncate(160)}}</p>
			</div>
		</div>
	{% endfor %}
{%endif%}
</div>

{% if pages %}
<div class="text-center">
	<ul class="pagination">
		{% for num in range(1,number_of_pages + 1) %}
		<li{% if num == page %} class="active"{%endif%}><a href="{{ url_for(function,page=num)}}">{{ num }}</a></li>
		{% endfor %}
	</ul>
</div>
{% endif%}
