<!--<table id="tsort" class="table table-hover table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody class="rowclick-table">
{% if teams|length == 0 %}
		<tr>
			<td colspan='3'>There are no teams to display.</td>
		</tr>
{% else %}
	{% for team in teams %}
		<tr class="rowclick-tr" data-url="{{ team.link }}">
			<td class="rowclick-td"><span class="fa fa-fw fa-user"></span> {{ team.name }}</td>
			<td class="rowclick-td">{{ team.desc }}</td>
		</tr>
	{% endfor %}
{% endif %}
	</tbody>
</table>-->

<div class="row">

{% if teams|length == 0 %}
		<h3>There are no teams to display.</h3>
{% else %}
	{% for team in teams %}
		<div class="col-md-3">
			<div class="well" style="height: 150px">
				<h2><a href="{{ team.link }}">{{team.name}}</a></h2>
				<p>{{ team.desc }}</p>
			</div>
		</div>
	{% endfor %}
{%endif%}
</div>
